@import "config.scss";
@import "body.scss";
@import "signup.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $wrapper_bg;
}
.wrapper {
  height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
